*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    width: 100%;
}
.header{
    width: 960px;
    height: 25px;
    margin: auto;
}
.header ul{
    text-transform: uppercase;
   text-align: center;


}
.header ul li{
    display: inline-block;
    box-sizing: border-box;
    float: right;
    text-align: center;

}
.header ul li:first-of-type{
    box-sizing: border-box;
    background-color: #00a5e2;
    text-align: center;
    width: 63px ;
    height: 25px ;
}
.header ul li:nth-of-type(2){
    box-sizing: border-box;
    background-color: #a7b0b1;
    text-align: center;
    width: 63px ;
    height: 25px ;
}
.header ul li:last-of-type{
    box-sizing: border-box;
    background-color: #bfc7c8;
    width: 100px;
    height: 25px;
    text-align: center;
}
.header ul li:nth-last-of-type(2){

    box-sizing: border-box;
    background-color: #919e9f;
    text-align: center;
    width: 100px ;
    height: 25px ;
}
.header_center{
    width: 100%;
    background-color: #262c2d;
    height: 100px;

}
.header_right{
    width: 960px;
    height: 100px;
    margin: auto;
}
.header_right ul{
    margin-left: 335px;

}
.header_right ul li{
    box-sizing: border-box;
    display: inline-block;
    float: left;



}
.header_right ul li:first-of-type{
    box-sizing: border-box;
    background-color: #b2bdbf;
    width: 125px;
    height: 100px;
    position:relative;
    bottom: 76px;

}
.header_right ul li:nth-child(2){
    box-sizing: border-box;
    background-color: #00a5e2;
    width: 125px;
    height: 100px;
    position:relative;
    bottom: 76px;
}
.header_right ul li:nth-child(3){
    box-sizing: border-box;
    background-color: #b6c3c5;
    width: 125px;
    height: 100px;
    position:relative;
    bottom: 76px;
}
.header_right ul li:nth-last-of-type(2){
    box-sizing: border-box;
    background-color: #c2cccd;
    width: 125px;
    height: 100px;
    position:relative;
    bottom: 76px;
}
.header_right ul li:last-of-type{
    box-sizing: border-box;
    background-color: #90a0a3;
    width: 125px;
    height: 100px;
    position:relative;
    bottom: 76px;

}
.container{
    width: 960px;
    margin: auto;
}
.bg-img{
    position: fixed;
    right: 0;
top: 175px;
}
.bg-img a{
    width: 50px;
    text-align: center;
    display: block;
    background-color: #616a6c;
}
.bg-img a i{
    color: white;
    line-height: 50px;

}
 hr{
    background-color: #636363;
    width: 100%;
    height: 7px;

}
 .center_bc{
     background-color: black;

     height: 1344px;
 }
 .center_block{
     background-color: #2e2e2e;



 }
  h1{
     color:#a8ff00 ;
      margin-left: 240px;

 }
  .last-block{
      background-color: #2e2e2e;




  }
.last-block h1{




}
footer{
    background-color: white;
    height: 293px;
    width: 100%;


}